*{
    margin: 0;
    padding: 0;

}
.mainbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://www.anypics.ru/download.php?file=201211/1600x1200/anypics.ru-33955.jpg);
}

.neontext{
    padding: 1rem 1rem;
    text-align: center
}
.neontext h1{
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
    animation: light 1.5s ease-in-out infinite alternate;
}
@keyframes light{
    from{
        color: #fff;
        text-shadow: 0 0 10px #00fff2,
        0 0 20px #00fff2,
        0 0 30px #00fff2,
        0 0 40px #00fff2,
        0 0 50px #00fff2,
        0 0 60px #00fff2,
        0 0 70px #00fff2,
        0 0 90px #00fff2;
    }
    to{
        color: lightgray;
        text-shadow:0 0 20px #00fff2,
        0 0 30px #00fff2,
        0 0 40px #00fff2,
        0 0 50px #00fff2,
        0 0 60px #00fff2,
        0 0 70px #00fff2,
        0 0 80px #00fff2,
        0 1 90px #00fff2; ;
    }
}





















